.ourServices {
    padding: 50px 0px;
}

.card_grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.service_card {
    height: 350px;
    width: 100%;
    position: relative;
    border-radius: 10px;

}

.service_card img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 24%, rgba(255, 255, 255, 1) 97%);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.service_card .overlay .content {
    text-align: center;
    margin-bottom: 1rem;
}

.service_card .overlay .content h2 {
    color: #1E1E1E;
    font-family: Rubik;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    /* 125% */
}

.service_card .overlay .content button {
    width: 100%;
    border-radius: 30px;
    border: 1px solid white;
    background: transparent;
    padding: 15px 30px;
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: none;
}

.service_card:hover {
    cursor: pointer;
}

.service_card:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
}

.service_card:hover .overlay h2 {
    color: white;
}

.service_card:hover .overlay button {
    display: block;
}

.Company_Authority .Company_Auth_Img {
    text-align: center;
}

.Company_Authority .Company_Auth_Img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}



.ourClients {
    padding: 50px 0 px;
}

.ourClients .ClientHeader {
    text-align: center;
}

.ourClients .ClientHeader p {
    color: #1E1E1E;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0em;
    /* 166.667% */

}

.clientCard_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.clientCard_grid .client_card {
    border-radius: 30px;
    background: #FFF;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.10);
    padding: 20px;
}

.clientCard_grid .client_card .lower_content p {
    color: #1E1E1E;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 166.667% */
}



.clientCard_grid .client_card .upper_content {
    display: flex;
    align-items: center;
}

.clientCard_grid .client_card .upper_content .clientImg img {
    width: 80px;
    margin-right: 1rem;
}



.clientCard_grid .client_card .upper_content h2 {
    color: #1E1E1E;
    font-family: Rubik;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

.clientCard_grid .client_card .upper_content .rating {
    display: flex;
    justify-content: space-between;
}

.clientCard_grid .client_card .upper_content .ImgContent {
    width: 100%;
}

.Quick_Service {
    background-color: #058B8C;
    width: 100%;
    padding: 50px;
    margin: 20px;
}

.Quick_Service .quickContent {
    align-items: center;
    align-content: center;
}

.Quick_Service .quickContent h2 {

    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.8px;
    padding: 30px;
}

.Quick_Service .quickContent .ContactNumber {
    display: flex;
    width: 100%;
    justify-content: center;
}


.Quick_Service .quickContent .ContactNumber p {
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.26px;
    padding: 0px 30px;
}